
header{
    background-color:	mediumaquamarine;
color: white;
padding: 0;
margin: 0;
position:fixed;
}
::selection{
    background-color: grey;
    color: white;
}


.dispo{
    display:flex;
}

.logo{
    display:inline-flex;
}

.tadImage{
    width:5%;
   border-radius: 70%;
transition: all 2s;
  
}
.tadImage:hover{
    transition: all 2s;
transform: rotate(360deg);
}

.navcontent{
    position: relative;
  color:white;
  margin-left:50px;
  margin-top:15px;

    
  
}
.drop{
  
   display: none;;
      position: absolute;

  
  
    
    text-align: center;
    margin-top: 5%;
    
}
.drop:hover{
    display:block;
    width:120px;
 
   
   
}
.navcontent:hover .drop{
    display: block;
    
    width:120px;
  
}

a{
    color:grey;
    display: block;
   
    text-decoration: none;
}
a:hover{
    color:grey;
}





div.dispo{
   
    
    display: inline-flex;
    text-align: left;
}
div.nodispo{
    
    text-align: left;
    display: inline-flex;
}
.navbar{
    
    display:inline-flex;
    margin-left:15%;
    margin-top:2%;
    
    
}
.light{
  
  margin-left:90%;
  margin-top:3%;
 position:fixed;
 
  width:120px;
   
}
.light::before{
    color:black;
  
   content:'Dark Mode \2733';
   transition:all 3s;
  
   
   }
.lightt{
   
      
        
        transition:all 1s;
       transform:rotate(360deg);
}
.lightt::before{
    
    
    content:'Light Mode \2733';
   color:white;
  
    
}
body{
    padding:0;
    margin:0;
}
boddy2{
    background-color:black;
}
.nothing{
    display:inline-flex;
}
h10
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color:white;
}
h11
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color:white;
}

h10::after{
    content:'\25BC';

}
h10:hover::after{
    content:'\25B2';
}
.undernavleft{
   
 
    display:inline-flex;
    

    width:50% ;
}

.undernavright{
    background-image: url("dddd.jpg");

    width:50% ;

}

.textappear {
	animation: textappear 2s;
  	opacity: 1;
}

@keyframes textappear {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 4;
  }
}



.undernav{
    
   
display: inline-flex;
margin-top: 10%;
width: 100%;
}


.button3{
    background-color:		mediumaquamarine;
    height:50px;
    padding: 0;
    margin: 0;
    width:200px;
    border-radius: 20px 20px 0px 20px ;
    border-style:inset;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
    }
   
    
    .button4{
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    background-color: #123;
    height: 50px;
    width: 250px;
    top:100;
    padding: 0;
    margin: 0;
   border-radius: 15px 15px 0px 15px ;
   border-style:inset;
   color:white;
    }
    .img2{
    
        width:50%;
        
        transition: all 2s;
        
        }
        .img2:hover{
            
            transform: scale(-1,1);
        }
        .par1{
            color:grey;
            width:300px;
        }
        .parr1{
            width:300px;
            background-color: aqua;
        }
       .both{
           display: inline-flex;
       }
        h4{
            font-family: Arial, Helvetica, sans-serif;
            font-weight:lighter;
            font-size: xx-large;
            color:black;
        }

        .endbar{
            background-color: grey;
            color: white;
      margin-top: 50%;
        
       
        
        
        }
       footer{
           padding: 0;
           margin: 0;

           
       }
       .father{
           position: relative;
           margin-top: 3%;
           transition: all 3s;
          
           
           height: 150px;
           width: 150px;
           margin-left: 40%;
           text-align: center;
           transform-style:preserve-3d ;
           
       }
       .father:hover{
           transform: rotatey(180deg) ;
       }
       .father >div{
        position: absolute;
        
        text-align: center;
        
           width: 100%;
           height: 100%;
           backface-visibility: hidden;
               }
       .font{
           background-color:aqua ;
           color:blue;
           z-index: 2;
       }
       .back{
           background-color:lightgray;
           z-index:1;
           color:black;
           transform: rotatey(180deg) ;
          
            }
            body{
                perspective: 1000px;
            }
            .style2
            {
                color:red;
            }
            #div2{
                display: inline-flex;
            }
            #contente{
              color:mediumaquamarine;
              margin-left: 5px;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
              font-size: larger;
            
              
              
            }
            #contente:hover{
                background-color: lightgray;
                transform: rotate(360deg);
                transition: all 1s;
            }
          
            #auto{
                display: inline-block;
                margin-left:10%;
margin-top: 6%;
            }